/* Reset padding and margin for all elements */
* {
  padding: 0;
  margin-top: 3px;
  box-sizing: border-box;  
}

 
h1 {
  text-align: center;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(6, 0, 32);
  padding: 40px;
}

 
.list {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f4f4f4;  
  padding: 10px 0;
}

.list ul {
  display: flex;
  justify-content: center;
  list-style: none;  
}

.list li {
  margin: 0 20px;  
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 14px 25px;
  background-color: transparent;
  border: 2px solid rgb(12, 0, 66);
  border-radius: 5px;  
  transition: all 0.3s ease;  
}

a:hover {
  background-color: rgb(12, 0, 66);
  color: rgb(255, 255, 255);
  transform: scale(1.05); 
}
 
a:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
